@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/************************************GLOBAL STYLES**************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  color: #eee07a;
  background: linear-gradient(to right, #614385, #516395);
}

.footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  color: #f5edb5;
  font-family: "Montserrat", sans-serif;
}

p {
  color: #fff;
}

hr {
  background-color: #f5edb5;
  width: 100vw;
}

/****************XX********************GLOBAL STYLES*************XX*************/

/*******************id Styles******************************/
#nav-logo {
  background: linear-gradient(to right, #cac531, #f3f9a7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/************XX*******id Styles****************XX**************/

.nav-styles {
  background: linear-gradient(to right, #614385, #516395);
}

.nav-link-style {
  background: linear-gradient(to right, #cac531, #f3f9a7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link-style:hover {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* #toggle-bar-style {
    background-color: #ddd;
} */

/**************************** Fontawesome icons styles ********************************/
.icon {
  color: #eee07a;
  font-size: 2rem;
}

/**********XX****************** Fontawesome icons styles ******************XX**********/

.jumbo {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 6.25em;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.jumbo-info-container {
  flex: 1;
}

.jumbo-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #cac531, #f3f9a7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbo-text p {
  margin-top: 0.3125em;
  font-size: 1.375em;
  color: #fff;
}

.home-image-cover {
  flex: 1;
}

.home-image-cover img {
  height: 23vh;
  margin-top: 5vh;
  filter: drop-shadow(0px 7px 5px #000);
}

.home-button-section button {
  margin: 1rem auto;
}

.mobile-select {
  background: #f5edb5;
  border: none;
  cursor: pointer;
  color: #614385;
  transition: 0.4s linear;
  padding: 1rem 3rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.web-select {
  border: 1px solid #f5edb5;
  background: transparent;
  color: #f5edb5;
  cursor: pointer;
  transition: 0.4s linear;
  padding: 1rem 3rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.mobile-select:hover {
  background: transparent;
  border: 1px solid #f5edb5;
}

.web-select:hover {
  background: #f5edb5;
  border: none;
  color: #614385;
}

/*******************HEADER SECTION*************************/

/************XX*******HEADER SECTION*********XX************/

/***********************MISSION STYLES SECTION ************/
.mission-info-section {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.mission-header-section {
  flex: 1;
}

.mission-image-section {
  flex: 1;
}

.mission-image-section img {
  height: 50vh;
  margin-top: 5vh;
  filter: drop-shadow(0px 7px 5px #000);
}

/**************XX*********  MISSION STYLES SECTION*********/

/************************* ABOUT SECTION *********/

.about-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  min-height: 100vh;
  margin: 3rem 2rem;
}

.about-intro-section {
  width: 100%;
  height: auto;
  display: flex;
}

.about-social-media-logo {
  color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.about-social-media-logo:visited {
  text-decoration: none;
}

.about-social-media-logo:hover {
  color: #f5edb5;
  cursor: pointer;
}

.about-text-section {
  flex: 1;
  margin-bottom: 3rem;
}

.about-header-section {
  flex: 1;
  justify-content: center;
}

.about-text-section p {
  text-align: center;
  line-height: 3rem;
}

.about-text-section img {
  border-radius: 50%;
  width: 6rem;
  padding-bottom: 1rem;
}

.about-cred-header {
  margin: auto;
  width: auto;
}

.about-cred-card-icon {
  color: #f5edb5;
  font-size: 3rem;
  position: relative;
  margin-left: -20px;
}

.about-btn {
  /* position: absolute; */
  justify-content: center;
  margin-left: 2em;
}

.about-cta {
  border: 1px solid #f5edb5;
  background: transparent;
  color: #f5edb5;
  transition: 0.4s linear;
  padding: 1rem 3rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  /* margin: 10px 150px; */
}

.about-cta:hover {
  background: #f5edb5;
  border: none;
  color: #614385;
}

/**************XX********* ABOUT SECTION ****XX*****/

/***********************  CONTACT SECTION *************************/
.contact-section {
  padding: 5rem 0;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
}

.contact-wrapper {
  max-width: 75%;
  margin: auto;
  padding: 0 1.25rem;
}

.contact-section h1 {
  font-size: 1.25rem;
  background: linear-gradient(to right, #cac531, #f3f9a7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 900;
}

.contact-section button {
  background: transparent;
  cursor: pointer;
  color: #f5edb5;
  border: 1px solid #f3f9a7;
  padding: 1rem 3rem;
  transition: 0.4s linear;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.contact-section button:hover {
  background: #f5edb5;
  border: none;
  color: #614385;
  cursor: pointer;
}

.name,
.email,
.message {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  color: rgb(168, 163, 163);
  padding: 0.625rem 0.375rem;
  font-size: 0.875rem;
  margin-bottom: 2.5rem;
}

.name {
  float: left;
  width: 100%;
}

.email {
  float: right;
  width: 100%;
}

.message {
  min-width: 60vw;
  max-width: 60vw;
}

.contact-logo img {
  height: 40vh;
  margin-top: 1.5rem;
}

/************XX***********  CONTACT SECTION **************XX******/

/*********************SERVICES PAGE STYLES******************/
.service-wrapper {
  height: 100vh;
}

.section-header {
  margin-top: 3rem;
}

.section-logo-row {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #eee07a;
  margin-top: 1rem;
}

.section-logo-img {
  color: #f5edb5;
  font-size: 2rem;
}

.service-icon-heading {
  color: #eee07a;
}

.service-item {
  color: #fff;
  list-style-type: none;
}

/***********XX**********SERVICES PAGE STYLES**********XX********/

/*********************DESIGN PAGE STYLES******************/
.card {
  margin: 0.625rem;
}
.card-title,
.card-text {
  color: #000;
}

.design-site-icon {
  color: #000;
}

.card-title {
  color: #614385;
}

.card-footer a {
  text-decoration: none;
  cursor: pointer;
}

/* .design-intro {
  max-width: 90%;
} */
/***********XX**********DESIGN PAGE STYLES**********XX********/

/*******************MEDIA QUERIES STYLES********************/

/*MEDIA QUERIES MIN-WIDTH 1024PX*/
@media screen and (min-width: 1024px) {
  .jumbo {
    flex-direction: row;
  }

  .jumbo-info-container {
    margin-top: 5vh;
    align-items: center;
  }

  .header-container {
    max-width: 50%;
  }

  .home-image-cover img {
    height: 20vh;
  }

  .home-button-section button {
    margin: 1rem;
  }

  .mission-info-section {
    flex-direction: row;
  }

  .mission-image-section img {
    height: 30vh;
  }

  .about-info-section {
    width: 50%;
    margin-bottom: 6rem;
    justify-content: center;
  }

  .about-text-section img {
    width: 12rem;
  }

  /* .about-btn {
    margin: 10px 20px 20px 200px;
  } */

  .name,
  .email {
    width: 35%;
  }

  /* .design-intro {
    max-width: 60%;
  } */
}

/*MEDIA QUERIES MAX-WIDTH 1024PX*/
@media screen and (max-width: 1024px) {
  .home-button-section button {
    margin: 1rem;
  }
}

/*MEDIA QUERIES MAX-WIDTH 846PX*/
@media screen and (max-width: 846px) {
  .about-btn {
    margin-left: 13rem;
  }
}

/*MEDIA QUERIES MAX-WIDTH 667PX*/
/* @media screen and (max-width: 667px) {
  .flip-card {
    width: 200px;
    height: 200px;
  }
} */

/*      MEDIA QUERIES MAX-WIDTH 640PX       */
/* @media screen and (max-width: 640px) {
  .flip-card {
    width: 150px;
    height: 150px;
  }
} */

/*  MEDIA QUERIES MAX-WIDTH 414PX */

@media screen and (max-width: 414px) {
  .mission-info-section p {
    padding: 1.2rem;
  }

  .about-wrapper {
    margin-left: 45px;
  }

  .about-text-section {
    margin: 0 3rem;
  }

  .about-cred-header {
    margin: 0 5rem;
  }

  .about-btn {
    margin: 0 9rem;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-around;
  }

  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    border: none;
    margin: 0 8rem;
  }
}

/*  MEDIA QUERIES MAX-WIDTH 411PX */
@media screen and (max-width: 411px) {
  .about-btn {
    margin: 0 9rem;
  }

  .about-text-section {
    margin: 0 2.9rem;
  }
}

/*MEDIA QUERIES MAX-WIDTH 375PX*/
@media screen and (max-width: 375px) {
  .flip-card {
    margin: 0 4.5rem;
    width: 250px;
    height: 250px;
  }

  .about-btn {
    margin: 0 7rem;
  }

  .about-cred-header {
    margin: 0 3rem;
  }

  .about-text-section {
    margin: 0 1.3rem;
  }

  .footer {
    margin-top: 7rem;
  }
}

/*MEDIA QUERIES MAX-WIDTH 360PX*/
@media screen and (max-width: 360px) {
  /* Button {
    margin-bottom: 2rem;
  } */

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-around;
  }

  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border: none;
    justify-content: space-around;
    margin-left: 0 3rem;
  }

  .about-cred-header {
    margin: 0 3rem;
  }

  .about-text-section {
    margin: 0 2rem;
  }

  .about-btn {
    margin: 0 7rem;
  }
}

/************************** MEDIA QUERIES IN LANDSCAPE **************************/

/*MEDIA QUERY MAX-WIDTH 896PX LANDSCAPE*/

/*MEDIA QUERIES MAX-WIDTH 740PX LANDSCAPE*/
@media screen and (max-width: 740px) and (orientation: landscape) {
  .flip-card {
    width: 230px;
    height: 200px;
    margin: 0 6rem;
  }
}

/*MEDIA QUERY MAX-WIDTH 667PX LANDSCAPE*/
@media screen and (max-width: 667px) and (orientation: landscape) {
  .flip-card {
    width: 150px;
    height: 150px;
    margin: 0 6rem;
  }

  .about-text-section {
    margin: 0 1rem;
  }

  /* .about-btn {
    margin: 3rem 0;
  } */
}

/*************XX************* MEDIA QUERIES IN LANDSCAPE *************XX*************/

/*******************xx***********MEDIA QUERIES STYLES********XX******/
